.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 0;
}
.bize_yazin h4{
    color: #596C72;
    font-size: 30px;
    font-weight: 500;
    line-height: 37px;
    margin: 20px 0 50px;
}
.inputs{
    width: 550px;
    /* gap: 10px; */
    /* display: grid;
    grid-template-rows: repeat(2 , 1fr);
    grid-template-columns: repeat(2, 1fr); */
}
.inputs input,
#mesaj{
    outline: none;
    border-radius: 30px;
    border: 1px solid #353535;
    margin-bottom: 10px;
}
.inputs input{
    height: 40px;
    padding:0 20px;
    width: 235px;
    margin-right: 10px;
}
#gonder,
#mesaj{
    width: 482px;
}
#gonder{
    background-color: #FFC01F;
    border: none;
    padding: 10px;
    border-radius: 30px;
}
#mesaj{
    height: 110px;
    padding:20px;
    resize: none;
    margin-bottom: 30px;
}
.elaqe{
    width: 427px;
    height: 500px;
    padding: 40px;
    box-shadow: 0px 0px 7px 0px #95959540;
    margin-right: 70px;
}
.elaqe h4{
    color: #596C72;
    font-size: 30px;
    font-weight: 500;
    line-height: 37px;
    text-align: center;
    margin:50px 0;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
}
.col p{
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #69768B;
}
.link a{
    display: inline-block;
    margin-right: 20px;
}
.link svg{
    width: 15px;
    height: 15px;
    color: #353535;
}
.linkss{
    margin-bottom: 20px;
}
.linkss a{
    display: inline-block;
    margin-right: 15px;
    color: #69768B;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}